
<!-- Page Title -->
<h1 class="page-title">Dummies List</h1>
<p class="page-subtitle">Browse the list of dummies below, or create a new one.</p>

<!-- New Button -->
<div class="flex justify-end mb-6">
  <%= link_to "New Dummy", new_dummy_path, class: "btn btn-primary", data: { turbo_frame: 'new_dummy_form' } %>
</div>

<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-2">
  <%= turbo_frame_tag 'new_dummy_form' %>
</div>

 <%= render Shared::SearchFormComponent.new(
  form: @q,
  search_path: dummies_path,
  main_filter: { field: :name_cont, label: "Name", placeholder: "Search by name" },
  additional_filters: [
    { type: :date_range, label: "Date Range", start_field: :started_at_gteq, end_field: :started_at_lteq },
    { type: :select, field: :status_eq, label: "Status", options: Dummy.status.values.map { |status| [status.text, status.value] }, include_blank: "All Statuses" },
    { type: :boolean, field: :active_eq, label: "Active?" }
  ]
) %>

<!-- Dummy Items -->
<%= turbo_frame_tag "results" do %>
  <div class="flex justify-end mb-2 me-2">
    <%== pagy_info(@pagy) %>
    <span class="text-sm text-gray-500 ml-1">with <%= @filter_count %> <%= 'filter'.pluralize(@filter_count) %> applied</span>      
  </div>
  <div class="card bg-white dark:bg-gray-800 shadow-lg rounded-sm w-full mb-2">
  <div class="card-body p-2">
    <div class="grid grid-cols-6 gap-4 text-sm text-gray-900 dark:text-gray-200 items-center">
      <div><%= sort_link(@q, :name, Dummy.human_attribute_name(:name)) %></div>
      <div><%= sort_link(@q, :started_at, Dummy.human_attribute_name(:started_at)) %></div>
      <div><%= Dummy.human_attribute_name(:completed_at) %></div>
      <div><%= sort_link(@q, :active, Dummy.human_attribute_name(:active)) %></div>
      <div><%= sort_link(@q, :status, Dummy.human_attribute_name(:status)) %></div>
    </div>
  </div>
</div>
  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-2" id="dummies_list">
    <%= render @dummies %>
  </div>
  <div class="flex justify-center mt-8">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
